[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.25"
unidecode = "~=1.2"
beautifulsoup4 = "~=4.9"
google-cloud-pubsub = "~=2.4"

[dev-packages]
mypy = "*"
pytest = "*"
black = "==21.4b2"

[requires]
python_version = "3.7"
