name: CI

on: 
  pull_request:
  push:
    branches: 
      - master
      - sandbox

jobs:
  run_tests:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
      - name: Analysing the code with mypy
        run: |
          mypy .
          
      - name: Test with pytest
        run: |
          pytest
