name: CI

on: 
  pull_request:
  push:
    branches: 
      - master
      - sandbox

jobs:
  run_tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install pipenv
      run: |
        python -m pip install --upgrade pipenv wheel
    - name: Install dependencies
      run: |
        pipenv install --dev

    - name: Analysing the code with mypy
      run: |
        pipenv run mypy
    - name: Unit test with pytest
      env:
        PANPRICES_ENVIRONMENT: local
        KELKOO_JWT_TOKEN: ${{ secrets.KELKOO_JWT_TOKEN }}
      run: |
        pipenv run unit-test
